html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --paragraph-text-color: rgb(90, 90, 90);
  --header-footer-bg-color: rgb(1, 143, 174);
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: grid;
  gap: 100px;
  justify-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

header {
  position: relative;
}

.mobile-bg-color-div {
  background-color: var(--header-footer-bg-color);
  height: 100%;
  width: calc(100% + 34px);
  position: absolute;
  z-index: -1;
  transform: skewY(-30deg);
  left: -34px;
  bottom: 33%;
  box-shadow: 0 10px 10px -8px rgb(150, 150, 150);
}

.non-mobile-bg-color-div {
  display: none;
}

.picture-div {
  padding: 28px 34px;
  position: relative;
}

.picture-div img {
  max-width: 100%;
  box-shadow: 0 0 8px rgb(100, 100, 100);
}

header h1 {
  font-size: 6.5rem;
  position: absolute;
  bottom: 36px;
  left: 46px;
  color: white;
  text-shadow: 0 4px 6px black;
  max-width: calc(100% - 92px);
}

h2 {
  font-size: 4.8rem;
  text-align: center;
}

header p {
  padding: 20px;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--paragraph-text-color);
  margin-bottom: 8px;
}

.icons-div {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

header .icons-div img {
  height: 35px;
}

.project-div {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 65px;
  justify-content: center;
}

.project-div > section {
  height: 475px;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  box-shadow: 1px 3px 8px 1px silver;
  flex-grow: 1;
  flex-basis: 325px;
  max-width: 400px;
}

.project-image {
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8rem;
  padding: 5px;
}

.project-1 > .project-image {
  background-color: rgb(123, 113, 199);
}

.project-2 > .project-image {
  background-color: rgb(215, 143, 49);
}

.project-3 > .project-image {
  background-color: rgb(93, 142, 59);
}

.project-4 > .project-image {
  background-color: rgb(205, 109, 160);
}

.project-5 > .project-image {
  background-color: rgb(55, 152, 208);
}

.project-6 > .project-image {
  background-color: rgb(155, 20, 20);
}

.project-description {
  padding: 15px 25px;
}

.project-name-line {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.5rem;
}

.project-icons-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-icons-div img {
  height: 25px;
}

.project-description > p {
  color: var(--paragraph-text-color);
}

footer {
  background-color: var(--header-footer-bg-color);
  color: white;
  padding-top: 20px;
}

footer > div > p {
  font-size: 2.4rem;
  padding: 20px;
}

footer section {
  padding: 20px;
  font-size: 1.9rem;
  font-weight: 375;
}

.address {
  margin-bottom: 30px;
}

.phone-number > img,
.email-address > img {
  display: none;
}

.email-address {
  margin-top: 10px;
}

footer .icons-div {
  gap: 35px;
  margin: 15px 0 75px 0;
}

footer .icons-div img {
  height: 50px;
}

footer > picture > img {
  max-width: 100%;
}

@media (max-width: 340px) {
  header h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.3rem;
  }
}

@media (width > 525px) {
  .mobile-bg-color-div {
    display: none;
  }

  body {
    gap: 50px;
  }

  header {
    margin: 100px 0 0 0;
    padding: 45px 20px 40px 20px;
    max-width: 75%;
    background-color: white;
    box-shadow: 0 1px 10px rgb(137, 137, 137);
;
  }

  .non-mobile-bg-color-div {
    display: block;
    background-color: var(--header-footer-bg-color);
    height: calc(100% + 100px);
    width: 133.33%;
    position: absolute;
    z-index: -1;
    transform: skewY(-15deg);
    left: calc(-17% + 1px);
    bottom: 40%;
    box-shadow: 0 10px 10px -8px rgb(150, 150, 150);
  }

  .picture-div {
    padding: 0;
    float: left;
    width: 250px;
    left: -55px;
    top: -120px;
    shape-outside: inset(10% 13.63% 50.34% 10%);
  }

  header h1 {
    font-size: min(8vw, 5rem);
    bottom: 0;
    top: 0;
    left: 85%;
    text-shadow: 0 2px 4px rgb(67, 67, 67);
    width: max-content;
    max-width: none;
  }

  h2 {
    font-size: 3.4rem;
  }

  header h2 {
    font-size: 3.2rem;
    margin-bottom: 25px;
  }

  header p {
    padding: 0;
    font-size: 1.7rem;
    margin-bottom: 0;
    line-height: 1.7;
  }

  header .icons-div {
    display: none;
  }

  .project-div {
    padding: 15px 50px;
  }

  .project-div {
    column-gap: 30px;
    row-gap: 55px;
  }

  .project-div > section {
    height: 400px;
    flex-basis: 300px;
    max-width: 425px;
  }

  .project-image {
    font-size: 3.2rem;
  }

  .project-name-line {
    padding: 0;
  }

  h3 {
    font-size: 2.2rem;
  }

  .project-description > p {
    font-size: 1.6rem;
  }

  footer {
    margin-top: 50px;
    padding: 40px 30px 55px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  footer h2 {
    text-align: left;
  }

  footer p,
  footer > div > p {
    font-size: 1.6rem;
  }

  footer > div > p {
    padding: 15px 0 20px 0;
  }

  .contact-info {
    padding: 0;
  }

  .phone-number,
  .email-address {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .phone-number > img,
  .email-address > img {
    display: block;
    max-width: 25px;
  }

  footer .icons-div {
    margin: 30px 0 0 0;
    justify-content: flex-start;
    gap: 25px;
  }

  footer .icons-div img {
    height: 30px;
  }
}

@media (width >= 730px) {
  header {
    padding: 70px 20px 20px 20px;
  }

  header h2 {
    font-size: 3.4rem;
  }

  .picture-div {
    width: 300px;
    top: -145px;
    shape-outside: inset(10% 8.76% 41.46% 10%);
  }

  main > h2 {
    text-align: left;
  }

  main > h2,
  .project-div {
    padding: 0 50px;
  }

  .project-div > section {
    height: 350px;
  }
}

@media (700px <= width < 800px) {
  footer > div > p {
    padding: 25px 0 30px 0;
  }
}

@media (width > 830px) {
  header {
    padding: 30px 20px 20px 20px;
    max-width: 65%;
  }

  .picture-div {
    top: -105px;
    shape-outside: inset(10% 8.76% 30.29% 10%);
  }

  .non-mobile-bg-color-div {
    width: 153.84%;
    left: calc(-28% + 6px);
    bottom: 50%;
  }
}

/* 
@media (width >= 1308px) {
  .project-div > section {
    flex-grow: 0;
  }
} */
