html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --paragraph-text-color: rgb(100, 100, 100);
  --header-footer-bg-color: rgb(1, 143, 174);
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: grid;
  gap: 100px;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

header {
  padding: 20px;
}

.header-img-div {
  padding: 12px;
  position: relative;
  margin-bottom: 15px;
}

.background-color-div {
  background-color: var(--header-footer-bg-color);
  height: 100%;
  width: 100vw;
  position: absolute;
  margin: -32px 0 0 -32px;
  z-index: -1;
  transform: skewY(-30deg);
  bottom: 35%;
  box-shadow: 0 10px 10px -8px rgb(150, 150, 150);
}

.header-img-div img {
  max-width: 100%;
  box-shadow: 0 0 8px rgb(100, 100, 100);
}

header h1 {
  font-size: 6.5rem;
  position: absolute;
  bottom: 16px;
  left: 24px;
  color: white;
  text-shadow: 0 4px 6px black;
  max-width: calc(100% - 48px);
}

header > section {
  display: grid;
  gap: 12px;
  justify-content: center;
}

h2 {
  font-size: 4.5rem;
  text-align: center;
}

header > section > p {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--paragraph-text-color);
  margin-bottom: 8px;
}

.icons-div {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

header .icons-div img {
  width: 35px;
}

footer {
  background-color: var(--header-footer-bg-color);
  color: white;
  padding-top: 20px;
}

footer > p {
  font-size: 2.4rem;
  padding: 20px;
}

footer > section {
  padding: 20px;
}

footer > section > div {
  margin-bottom: 30px;
}

footer > section > p:last-child {
  margin-top: 6px;
}

footer .icons-div {
  gap: 35px;
  margin: 15px 0 75px 0;
}

footer .icons-div img {
  width: 50px;
}

footer img {
  max-width: 100%;
}

@media (max-width: 340px) {
  header h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }
}
